00004000




<!DOCTYPE html>
<html class="en-us nojs us en amr" lang="en-US">
<head>
<meta name="viewport" content="width=1024" />
    

<title>Back to School - Buy a Mac with Education pricing and get $100 worth of apps  - Apple Store  (U.S.)</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Set-Cookie" content="sfa=us; path=/; expires=2023-08-22 20:52:57 GMT" />





<meta name="description" content="Start the school year with $100 to spend on apps when you purchase a qualifying Mac with Apple education pricing, or $50 after the purchase of a qualifying iPad or iPhone." />


	<meta http-equiv="content-language" content="en-US" />
	<meta name="robots" content="NOODP, NOYDIR" />

<link rel="canonical" href="http://store.apple.com/us/browse/campaigns/back_to_school" />






	<script>
		var addSBTag =  /(iPhone|iPod).*OS.*AppleWebKit.*Mobile.*Safari/.test(navigator.userAgent);
		if (addSBTag) {
			var headNode = document.getElementsByTagName("head")[0];
			var sbNode = document.createElement('meta');
			sbNode.name = 'apple-itunes-app';
			sbNode.content = 'app-id=375380948, app-argument=http%3A%2F%2Fstore.apple.com%2Fus%2Fbrowse%2Fcampaigns%2Fback_to_school%3Faid%3DWWW-NAUS-com-BTS13-home%2Fus%2Fhelp%2Fshopping_experience';
			headNode.appendChild(sbNode);
		}
	</script>

 


<!--[if lt IE 8]><!-->
<script>
    // Check for min browser support
    (function(loc, hasNoNativeQuerySelector, hasNoUbwCookie, ubwURL){
        if (hasNoNativeQuerySelector && hasNoUbwCookie && (loc.href != ubwURL) ) { loc.href = ubwURL; }
    })(window.location, !document.querySelector, window.document.cookie.indexOf('bwarn=') === -1, "http://store.apple.com/us/unsupported");
</script>
<!--<![endif]-->

<script>
	//replace nojs class with js on html element
	(function(html){
		html.className = html.className.replace(/\bnojs\b/,'js')
	})(document.documentElement);
</script>


<!--[if gte IE 9]><!-->
<link rel="stylesheet" href="http://store.storeimages.cdn-apple.com/3546/store.apple.com/rs/rel/base.css" media="screen, print" />
<!--<![endif]-->

	
	<!--[if gte IE 9]><!-->
<link rel="stylesheet" href="http://store.storeimages.cdn-apple.com/3546/store.apple.com/rs/rel/base@2x.css" media="only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min--moz-device-pixel-ratio:2), only screen and (-o-min-device-pixel-ratio:2/1), only screen and (min-device-pixel-ratio:2)" />
<!--<![endif]-->
	


<!--[if IE 8]>
<link rel="stylesheet" href="http://store.storeimages.cdn-apple.com/3546/store.apple.com/rs/rel/base-ie8.css" media="screen, print" />
<![endif]-->




<link rel="stylesheet" href="http://store.storeimages.cdn-apple.com/3546/store.apple.com/Catalog/regional/amr/css/aos-overrides.css" media="screen, print" />



<link rel="stylesheet" href="http://store.storeimages.cdn-apple.com/3546/store.apple.com/Catalog/US/Images/css/aos-local.css" media="" />



<script>
	window.irOn=true;
</script>


<script src="http://store.storeimages.cdn-apple.com/3546/store.apple.com/rs/rel/bootstrap.js"></script>

<script src="http://store.storeimages.cdn-apple.com/3546/store.apple.com/rs/rel/coherent.js"></script>

<script src="http://store.storeimages.cdn-apple.com/3546/store.apple.com/rs/rel/apple.js"></script>


<script>
	// Emits an extra bit to let FE know whether AI feedback is enabled.
	Event.onLoad(window.apple.ai.init);
</script>





    <script>
        
				window.chatButtonConfig = {
					'availURL': "http://store.apple.com/us/button_availability?cs=product+selection&seg=consumer&css=back_to_school&pg=AOS%3A+campaigns/back_to_school",
					'infoURL': "http://store.apple.com/us/client_info"
				};
			
			
			window.chatConfig = {"chat":{"page":[{"name":"WEB_CHAT_COUNTRY","value":"us"},{"name":"WEB_CHAT_LANGUAGE","value":"en"},{"name":"WEB_CHAT_GEO","value":"amr"},{"name":"WEB_CHAT_SEGMENT","value":"consumer"},{"name":"WEB_CHAT_SECTION","value":"product selection"},{"name":"WEB_CHAT_SUBSECTION","value":"back_to_school"},{"name":"WEB_CHAT_ORDERNUMBER","value":""},{"name":"WEB_CHAT_REFER","value":"AOS: campaigns/back_to_school"}]}};
													
	</script>
	<script type="text/mustache" id="{{chatForm}}">
	
		<form id="chatForm" action="{{url}}" target="chatWin" method="post">{{#inputs}}<input type={{type}} name="{{name}}" id="{{id}}" value="{{value}}" {{data "input"}} />{{/inputs}}</form>
	
</script>
	<script src="http://store.storeimages.cdn-apple.com/3546/store.apple.com/rs/rel/chat.js"></script>
       



    

		
		
			

    
				
			


		
	

    

		
		
			

    
				

		
		
			

    
				
			


		
	

			


		
	

    

		
		
			

    
				
			


		
	

    

		
		
			

    
				
			


		
	

    

		
		
			

    
				
			


		
	

    

		
		
			

    
				

		
		
			

    
				
     
	<link href="http://store.storeimages.cdn-apple.com/3546/store.apple.com/Catalog/regional/amr/css/campaigns/2013/back-to-school/bts-landing.css" media="all" rel="stylesheet" data-evar1="AOS: ">

<style>
.shop-store ul li p span {
    color: #FF6F40;
    display: block;
    font-size: 12px;
    margin-top: 5px;
}
</style>



			


		
	

			


		
	

    

		
		
			

    
				
			


		
	

    

		
		
			

    
				
			


		
	

    

		
		
			

    
				
			


		
	

    <script> Event.onLoad (function() { apple.widget.EqualizeCopy(); }); </script>
</head>

<body class="full">
	
    
    <div class="metrics">
      
		
        <noscript>
            <img alt="" width="1" height="1" src="http://metrics.apple.com/b/ss/applestoreWW,appleglobal,applestoreus,applestoreUSconsum,applestoreAMR,applestoreAMRconsum/1/H.8--NS/0?pageName=No-Script:AOS%3A+campaigns%2Fback_to_school" />
        </noscript>



		
        <script>
            
            var s_account = "applestoreWW,appleglobal,applestoreus,applestoreUSconsum,applestoreAMR,applestoreAMRconsum";
        </script>



		
 <script src="http://store.storeimages.cdn-apple.com/3546/store.apple.com/rs/rel/omniture.js"></script>


		
    <script>
            var ametrics = new apple.metrics.Metrics({
                isHome: false,
                storeId: "wHF2F2PHCCCX72KDY",
                evarDataNodes: true
            });

            
            s.pageName = ametrics.pageName("AOS: campaigns/back_to_school");
            s.server = "a10048560";
            s.channel = "AOS: campaigns";
            s.hier1 = "campaigns/back_to_school";
            s.charSet = "UTF-8";
            s.currencyCode = "USD";
            
            
            s.prop2 = "AOS: US Consumer";
            
            s.prop4 = "D=g";
            s.prop5 = navigator.platform + ((window.devicePixelRatio || 0) >= 2 ? " 2x" : "");
            
            s.prop8 = "D=pageName";
            
            s.prop19 = "AOS: US Consumer: campaigns/back_to_school";
            s.prop20 = "AOS: US Consumer";
            
            
            
            
            
            
            
            
          
            
            s.prop40 = "10078";
            
            
            
            
            
            
            

            

            
                s.products = ametrics.appendEVar31("");
                s.events = "";
            

            

            
                s.eVar1 = ametrics.getEvar1() || "";
                s.eVar2 = "";
                s.eVar3 = "D=c2";
                s.eVar4 = "D=pageName"; 
            
            
			
            

            s.eVar19 = "D=c19";
            
            
            
            
            
                        
			
            
                s.eVar30 = ametrics.getEvar30() || "store.apple.com";
            

            s.linkInternalFilters = "javascript:,store.apple.com,secure.store.apple.com,secure1.store.apple.com,secure2.store.apple.com,epp.apple.com,secure1.epp.apple.com,storeint.apple.com,secure1.storeint.apple.com,#";
            
            

            ametrics.mark();            

            
            var s_code = s.t();if(s_code)document.write(s_code);

  </script>



	  
 	</div>


	<script>
		if(!/dssid2=[a-zA-Z0-9-]+(;|$)/.test(document.cookie) || !/dc=[a-zA-Z0-9-]+(;|$)/.test(document.cookie))
		{
			Event.onDomReady(function() {
				var ie = document.createElement("IMG");
				ie.src = '/us/dc';
				ie.width = ie.height = 1;
				ie.style.display = "none";
				document.body.appendChild(ie);
			});	
		}
	</script>



    <div id="page">
        
	<div id="apple-header" role="navigation" class="store" aria-label="Apple">
	<ul class="links">
		<li><a href="http://www.apple.com/" class="apple"><span>Apple</span></a></li>
		<li><a class="store" href="/us" onclick="s_objectID='f01766fbd8a6a2dc97ababa939fc703f';"  data-evar1="AOS: TopNavigation | Store"><span>Store</span></a></li>
		<li><a href="http://www.apple.com/mac" class="mac"><span>Mac</span></a></li>
		<li><a href="http://www.apple.com/ipod" class="ipod"><span>iPod</span></a></li>
		<li><a href="http://www.apple.com/iphone" class="iphone"><span>iPhone</span></a></li>
		<li><a href="http://www.apple.com/ipad" class="ipad"><span>iPad</span></a></li>
		<li><a href="http://www.apple.com/itunes" class="itunes"><span>iTunes</span></a></li>
		<li><a href="http://www.apple.com/support" class="support"><span>Support</span></a></li>
	</ul>
	<div class="search">
		
<form role="search" class="site-search" id="site-search" action="/us/search" onclick="s_objectID='96474c8bc1941f670e693267ed0b8d5a';"  data-evar1="AOS: campaigns/back_to_school |  | " data-evar30="campaigns/back_to_school">
	<div class="sitesearch-wrapper autocomplete">
		<div class="wrapper">
			
			<label for="site-search-query">Search Store</label>
			<input name="find" type="text" autocomplete="off" value="" placeholder="Search Store" id="site-search-query" />
		</div>
		<a style="display:none;" class="search-reset inputReset"></a>
		<span style="display:none;" class="search-spinner"></span>
	</div>
	
</form>
<div class="sp-magnify"><div class="magnify-searchmode"></div><div class="magnify"></div></div>

<script>
	Event.onDomReady(function() {
		var options = {
			text: {
				"searchHeading"   : "Suggested Searches",
				"productHeading"  : "Products",
				"categoryHeading" : "Categories"
			},
			suggestionsUrl: "http://store.apple.com/us/searchresults/autocomplete?r=1913700",
			suggestionsEnabled: true
		};
		var siteSearch = new apple.SiteSearch($("site-search"), null, {options: options});
	});
</script>



	</div>
	<style>
		#apple-header .links a span {
			background-image: url(http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/globalnav-text?wid=160&hei=240&fmt=png-alpha&.v=1347915994458);
		}
	</style>
	<noscript><style>#apple-header{ visibility: visible; }</style></noscript>
	<script>
	    Event.onDomReady(function() { var appleGlobalNav = new apple.GlobalNav('apple-header'); }); 
	</script>
	<script type="text/mustache" id="{{WebSiteSearchMenu}}">
	
		<ul role="listbox">{{#groups}}<li class="section"><p>{{heading}}</p></li>{{#results}}<li role="option" aria-selected="{{selected}}" class="item {{#selected}}selected{{/selected}}" id="{{id}}" {{data 'item'}}><span title="{{term}}"><a>{{{as.WebSiteSearch.highlight term highlights}}}</a></span></li>{{/results}}{{/groups}}</ul>
	
</script>
</div>

	<div class="store-header clearfix">
		<div class="masthead clearfix">
	<div class="masthead-title">
	
		
			
	
		
	
		<a href="/us" onclick="s_objectID='be71ff4d25f1c8819a3e0c1a785d8343';"  data-evar1="AOS: campaigns/back_to_school |  | Astro Link | 0 | AOS: home" data-evar30="campaigns/back_to_school/Astro_Link">
    <img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/head-apple-store?wid=141&amp;hei=29&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1364844187681" alt="" width="141" height="29" data-scale-params-2="wid=282&amp;hei=58&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1364844187681" />
    <span class="a11y">Apple Store</span>
</a>
	
	
	

	
	
	

		
	
</div>

	
		<div role="navigation" aria-label="User Tools" class="user-navigation" id="guide_wrap">
	<ul id="utilitynav" role="menubar" class="utilitynav">
		
			<li id="u_chat" role="presentation">
				
			
			

	
	
		 
	
	<div class="chat chat-resize cchat">
		<div class="ui-button">
			<span>Chat Now</span>
			
		</div>
	</div>



	


			
			
			
		
			</li>
			
		<li id="u_tele" role="presentation">
			<div class="contact"> 
				
	
		<a href="#" id="call-apple" class="number" style="cursor:pointer;" aria-describedby="call-apple-content">1-800-MY-APPLE</a>
	
	
	

			</div>

			<div id="contact-drawer" class="contact-drawer"> 
				<div class="box relational"> 
					<div id="call-apple-content" role="tooltip" class="call-apple-content"> 
						Have questions? Just ask. Speak to an Apple Specialist over the phone 24/7. 
					</div>
				</div> 			
			</div>
		</li>
		
			<li id="u_account" role="presentation">
				<a href="/us/account/home" onclick="s_objectID='57dc3b637c519827672643fd05aa7075';"  data-evar1="AOS: campaigns/back_to_school |  | Navigation User Assistance Bar" data-evar30="campaigns/back_to_school/Navigation_User_Assistance_Bar">Account</a>
			</li>
		
		<li id="u_cart" role="presentation" class="cart">
			<a href="http://store.apple.com/us/cart" onclick="s_objectID='499acec3539b4778fb42a0a4a1cf1405';"  data-evar1="AOS: campaigns/back_to_school |  | Navigation User Assistance Bar | View Cart" data-evar30="campaigns/back_to_school/Navigation_User_Assistance_Bar">Cart</a>
		</li>
	</ul>
	
	

	
	
		<div id="utility-nav" class="utility-nav ns-buttons">
	
	<div id="utility-nav-content" class="utility-nav-content">
		
		<div id="utility-nav-loading" class="utility-nav-section utility-nav-loading">
			<div class="subsection">
				<p class="replaced">Loading</p>
			</div>
		</div>

		<div id="unav-account" class="utility-nav-section unav-account">
            <div class="unav-account-box">
			    <div id="unav-popular-account-links" class="unav-popular-account-links subsection last">
				    
				    

		
		
			

    
				
	<div>
		
		<div class="panel-body">
			<ul class="clearfix tiles-5">
				
					<li class="tile-1">
						
	
	<a class="block tile-link" href="https://secure.store.apple.com/us/order/list" onclick="s_objectID='e95e69580f2a96776f037c9cef3ece93';"  data-evar1="AOS: campaigns/back_to_school | utility-nav-account | NavBanner | 0 | Check Order Status" data-evar30="campaigns/back_to_school/utility-nav-account">
		


	<div class="tile-body">
		
	
		<span class="title">Check Order Status</span>
<span class="title-description">Find out estimated delivery dates for your orders.</span>
	
	
	

	</div> 


	</a>


					</li>
				
					<li class="tile-2">
						
	
	<a class="block tile-link" href="https://secure.store.apple.com/us/order/home/return/page" onclick="s_objectID='9aedb28c7d2e72df2a43c6f30acc466f';"  data-evar1="AOS: campaigns/back_to_school | utility-nav-account | NavBanner | 1 | Return Items" data-evar30="campaigns/back_to_school/utility-nav-account">
		


	<div class="tile-body">
		
	
		<span class="title">Return Items</span>
<span class="title-description">Return your items and get a refund.</span>
	
	
	

	</div> 


	</a>


					</li>
				
					<li class="tile-3">
						
	
	<a class="block tile-link" href="https://secure.store.apple.com/us/order/list" onclick="s_objectID='dcb8d4906e94988149460e17b88e450e';"  data-evar1="AOS: campaigns/back_to_school | utility-nav-account | NavBanner | 2 | Cancel Items" data-evar30="campaigns/back_to_school/utility-nav-account">
		


	<div class="tile-body">
		
	
		<span class="title">Cancel Items</span>
<span class="title-description">Cancel orders recently placed.</span>
	
	
	

	</div> 


	</a>


					</li>
				
					<li class="tile-4">
						
	
	<a class="block tile-link" href="/us/account/home" onclick="s_objectID='23ab0f71ba16be743826f914caf08002';"  data-evar1="AOS: campaigns/back_to_school | utility-nav-account | NavBanner | 3 | View Account" data-evar30="campaigns/back_to_school/utility-nav-account">
		


	<div class="tile-body">
		
	
		<span class="title">View Account</span>
<span class="title-description">Manage account settings, payments and order info.</span>
	
	
	

	</div> 


	</a>


					</li>
				
					<li class="tile-5">
						
	
	<a clas
00004000
s="block tile-link" href="/us/help" onclick="s_objectID='340850ef8f3ca1c21fab02ecc21b1948';"  data-evar1="AOS: campaigns/back_to_school | utility-nav-account | NavBanner | 4 | Get Help" data-evar30="campaigns/back_to_school/utility-nav-account">
		


	<div class="tile-body">
		
	
		<span class="title">Get Help</span>
<span class="title-description">Learn about placing, tracking, managing your orders and more.</span>
	
	
	

	</div> 


	</a>


					</li>
				
			</ul>
		</div>	
		
	</div> 

			


		
	

			    </div>
			</div>
		</div>

		<div id="unav-cart" class="utility-nav-section unav-cart">
            <div class="unav-cart-box">
			    <div id="unav-your-cart" class="unav-your-cart subsection">
				    <span class="unav-your-cart-title">Your Cart</span>
				    <ul class="cart-list">
					    <li>
						    <a class="media-block block" href="#">
							    <img class="media" alt="empty image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAkAAAEALAAAAAABAAEAAAICTAEAOw=="/>
							    <span class="content"></span>
						    </a>
					    </li>
				    </ul>
				
				    <div class="empty-cart-message">
					    <p>There are no items in your Cart.</p>
				    </div>
				
				    <p class="view-link"><a href="#">View Cart</a></p>
			    </div>
    
			    <div id="unav-saved-items" class="unav-saved-items subsection">
				    <div class="list_content">
					    

		
		
			

    
				

    
     

        <div class="list-of-links">

            

            <div class="section list_content">
                
                    <ul>
                        
                            <li>
                                
                                    <a href="/us/cart/saved_items" onclick="s_objectID='acb8062c8662af49831aa2432241964a';"  data-evar1="AOS: campaigns/back_to_school | utility-nav-saved-item-links | List of Links | 0 | Saved Items" data-evar30="campaigns/back_to_school/utility-nav-saved-item-links">
                                        
                                        
                                            Saved Items
                                        
                                    </a>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="/us/cart/saved_carts" onclick="s_objectID='b7ecb6c5f9a63cf094f80f3a0cf505fc';"  data-evar1="AOS: campaigns/back_to_school | utility-nav-saved-item-links | List of Links | 1 | Saved Carts" data-evar30="campaigns/back_to_school/utility-nav-saved-item-links">
                                        
                                        
                                            Saved Carts
                                        
                                    </a>
                                
                            </li>
                        
                    </ul>
                
            </div>

            

        </div>

    





			


		
	

				    </div>
			    </div>

			    <div class="subsection last checkout">
				    
    <a class="button rect more" href="/us" onclick="s_objectID='efef2ff6b17176abc3fc88c323d1c3d5';"  data-evar1="AOS: campaigns/back_to_school |  | AstroButton | checkout_now" data-evar30="campaigns/back_to_school/AstroButton">
    <span>
    <span class="effect"></span>
	<span class="label">
	    
	            Check Out Now
	        
	</span>
    
</span>

</a>



			    </div>
            </div>
		</div>
		
	</div>

	
	
</div>

<script>
	Event.onLoad(function() {
		var surveyJSON           = "",
		    utilityNavController = apple.utilitynav.UtilityNavViewController.singleton($('guide_wrap'),{surveyData:surveyJSON}),
		    utilityNavInit       = {"url":"/us/cart_utility_nav"}
;
		utilityNavController.data.setUrl(utilityNavInit.url);
	});
</script>
	

</div>

	
	
</div>
	</div>








        
	
		
			
				
	<div class="lateral-navbar home-nav">
		
		<div role="navigation" aria-label="Apple Store" class="panel-body">
			<ul class="clearfix tiles-4">
				
					<li class="tile-1">
						
	
	<a class="block tile-link" href="/us/mac" onclick="s_objectID='af232bb8879f585b97a017ab13edf6c4';"  data-evar1="AOS: campaigns/back_to_school |  | NavBanner | 0 | Shop Mac" data-evar30="campaigns/back_to_school/NavBanner">
		

	<div class="image">
		<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/home-shelf-shopmac?wid=236&amp;hei=79&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1364842010752" alt="" width="236" height="79" data-scale-params-2="wid=472&amp;hei=158&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1364842010752" />
	</div>


	<div class="tile-body">
		
	
		<span class="a11y">Shop Mac</span>
	
	
	

	</div> 


	</a>


					</li>
				
					<li class="tile-2">
						
	
	<a class="block tile-link" href="/us/ipad" onclick="s_objectID='c509b95c0e07478ec0d9169d14ad952d';"  data-evar1="AOS: campaigns/back_to_school |  | NavBanner | 1 | Shop iPad" data-evar30="campaigns/back_to_school/NavBanner">
		

	<div class="image">
		<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/home-shelf-shopipad?wid=173&amp;hei=79&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1364841974599" alt="" width="173" height="79" data-scale-params-2="wid=346&amp;hei=158&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1364841974599" />
	</div>


	<div class="tile-body">
		
	
		<span class="a11y">Shop iPad</span>
	
	
	

	</div> 


	</a>


					</li>
				
					<li class="tile-3">
						
	
	<a class="block tile-link" href="/us/iphone" onclick="s_objectID='085529c01db1bf3031b8ad382baf2a4e';"  data-evar1="AOS: campaigns/back_to_school |  | NavBanner | 2 | Shop iPhone" data-evar30="campaigns/back_to_school/NavBanner">
		

	<div class="image">
		<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/home-shelf-shopiphone?wid=173&amp;hei=79&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1364841986920" alt="" width="173" height="79" data-scale-params-2="wid=346&amp;hei=158&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1364841986920" />
	</div>


	<div class="tile-body">
		
	
		<span class="a11y">Shop iPhone</span>
	
	
	

	</div> 


	</a>


					</li>
				
					<li class="tile-4">
						
	
	<a class="block tile-link" href="/us/ipod" onclick="s_objectID='d2d813e91465e4d6fc37d9d3ce2e93ab';"  data-evar1="AOS: campaigns/back_to_school |  | NavBanner | 3 | Shop iPod" data-evar30="campaigns/back_to_school/NavBanner">
		

	<div class="image">
		<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/home-shelf-shopipod?wid=173&amp;hei=79&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1377077815751" alt="" width="173" height="79" data-scale-params-2="wid=346&amp;hei=158&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1377077815751" />
	</div>


	<div class="tile-body">
		
	
		<span class="a11y">Shop iPod</span>
	
	
	

	</div> 


	</a>


					</li>
				
			</ul>
		</div>	
		
	</div> 

			
		
	

        <div role="main">
            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				

		
		
			

    
				
     
	<div class="top-banner geo clearfix">
	<h2>
		<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-hero-title?wid=980&amp;hei=44&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169512855" alt="" width="980" height="44" data-scale-params-2="wid=1960&amp;hei=88&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169512855" />
		<span class="a11y">For everything you’re into. Including school.</span>
	</h2>
	<div class="info">
		 Buy a Mac for college, <br>
		 get a $100 App Store Gift Card — and also save with education pricing. Or buy an iPad or iPhone and get a $50 card.*
	</div>
	<div id="gallery">
	<img class="background ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-hero-bg-us?wid=1005&amp;hei=454&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371513585627" alt="" width="1005" height="454" data-scale-params-2="wid=2010&amp;hei=908&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371513585627" />
	    <div class="media">
	        <div class="slide slide1 faded_in">
				<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-hero-mac?wid=535&amp;hei=480&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371513587051" alt="" width="535" height="480" data-scale-params-2="wid=1070&amp;hei=960&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371513587051" />
	        </div>
	        <div class="slide slide2 faded_out">
				<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-hero-ipad?wid=535&amp;hei=480&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371513553583" alt="" width="535" height="480" data-scale-params-2="wid=1070&amp;hei=960&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371513553583" />
	        </div>
	        <div class="slide slide3 faded_out">
				<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-hero-iphone?wid=535&amp;hei=480&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371513547113" alt="" width="535" height="480" data-scale-params-2="wid=1070&amp;hei=960&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371513547113" />
	        </div>
	    </div>
	    <div class="indicator clearfix"></div>
	    <script>
	        Event.onLoad( function() {
	        apple.widget.CrossFader.SLIDE_DELAY = 4000;
	        var gallery = new apple.widget.CrossFader('gallery');
	        });
	    </script> 
	</div>
</div>			
			<div class="shop-store">
				<p class="headline">Shop at the <a href="http://store.apple.com/us-hed" onclick="s_objectID='44e6f9a182856633678023dfd6221320';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 0 | AOS: store.apple.com/us-hed" data-evar30="campaigns/back_to_school/full-width-content-1">Apple Online Store for Education</a> or your favorite <a href="http://www.apple.com/retail" onclick="s_objectID='648076151750346200647e930a950035';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 1 | AOS: retail" data-evar30="campaigns/back_to_school/full-width-content-1">Apple Retail Store</a>.</p>
				<ul>
	<li class="superlink">
		<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-shelf-mac?wid=289&amp;hei=152&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169484118" alt="" width="289" height="152" data-scale-params-2="wid=578&amp;hei=304&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169484118" />
		<p>Mac <span>Save up to $200 with education pricing</span></p>
		

<div class="shop-links">
	<span><a href="http://store.apple.com/us-hed/browse/home/shop_mac/family/macbook_pro" class="more" onclick="s_objectID='56ae32d4ff7cdb163b2519a072cf2fb4';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 2 | AOS: store.apple.com/us-hed/browse/home/shop_mac/family/macbook_pro" data-evar30="campaigns/back_to_school/full-width-content-1">Buy MacBook Pro</a></span>
	<span><a href="http://store.apple.com/us-hed/browse/home/shop_mac/family/macbook_air" class="more" onclick="s_objectID='545c8375600ce3ab143420a655efd24b';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 3 | AOS: store.apple.com/us-hed/browse/home/shop_mac/family/macbook_air" data-evar30="campaigns/back_to_school/full-width-content-1">Buy MacBook Air</a></span>
	<span><a href="http://store.apple.com/us-hed/browse/home/shop_mac/family/imac" class="more" onclick="s_objectID='d9a7cd2fe16f90e9e2b5bd2c081bea56';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 4 | AOS: store.apple.com/us-hed/browse/home/shop_mac/family/imac" data-evar30="campaigns/back_to_school/full-width-content-1">Buy iMac</a></span>
</div>
		
	</li>
	<li class="superlink">
		<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-shelf-ipad?wid=121&amp;hei=152&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169476049" alt="" width="121" height="152" data-scale-params-2="wid=242&amp;hei=304&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169476049" />
		<p>iPad</p>
		

<div class="shop-links">
	<span><a href="http://store.apple.com/us-hed/buy/home/shop_ipad/family/ipad" class="more" onclick="s_objectID='860e44007cb3f14abd391814860efb6c';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 5 | AOS: store.apple.com/us-hed/buy/home/shop_ipad/family/ipad" data-evar30="campaigns/back_to_school/full-width-content-1">Buy iPad with Retina display</a></span>
	<span><a href="http://store.apple.com/us-hed/buy/home/shop_ipad/family/ipad_mini" class="more" onclick="s_objectID='32397b114abf58a0748ebb5143f744b0';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 6 | AOS: store.apple.com/us-hed/buy/home/shop_ipad/family/ipad_mini" data-evar30="campaigns/back_to_school/full-width-content-1">Buy iPad mini</a></span>
	<span><a href="http://store.apple.com/us-hed/buy/home/shop_ipad/family/ipad2" class="more" onclick="s_objectID='d7880b3f32f4eaa533efcdbd1d10f5a1';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 7 | AOS: store.apple.com/us-hed/buy/home/shop_ipad/family/ipad2" data-evar30="campaigns/back_to_school/full-width-content-1">Buy iPad 2</a></span>
</div>

	</li>
	<li class="superlink">
		<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-shelf-iphone?wid=70&amp;hei=152&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169515109" alt="" width="70" height="152" data-scale-params-2="wid=140&amp;hei=304&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169515109" />
		<p>iPhone</p>
		

<div class="shop-links">
	<span><a href="http://store.apple.com/us-hed/buy/home/shop_iphone/family/iphone5" class="more" onclick="s_objectID='f81e6eb8acbbe977a7487703a97a8952';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 8 | AOS: store.apple.com/us-hed/buy/home/shop_iphone/family/iphone5" data-evar30="campaigns/back_to_school/full-width-content-1">Buy iPhone 5</a></span>
	<span><a href="http://store.apple.com/us-hed/buy/home/shop_iphone/family/iphone4s" class="more" onclick="s_objectID='071a1fce1518c1139095ef04982e370e';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 9 | AOS: store.apple.com/us-hed/buy/home/shop_iphone/family/iphone4s" data-evar30="campaigns/back_to_school/full-width-content-1">Buy iPhone 4S</a></span>
	<span><a href="http://store.apple.com/us-hed/buy/home/shop_iphone/family/iphone4" class="more" onclick="s_objectID='44354ab16d28f929b02b4f8a1eec229b';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 10 | AOS: store.apple.com/us-hed/buy/home/shop_iphone/family/iphone4" data-evar30="campaigns/back_to_school/full-width-content-1">Buy iPhone 4</a></span>
</div>

	</li>
</ul>			</div>
			
			<div class="details">
				<div class="section card">
	<div class="info">
		<h2><img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-giftcards-title?wid=360&amp;hei=34&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169499011" alt="" width="360" height="34" data-scale-params-2="wid=720&amp;hei=68&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169499011" /><span class="a11y">How to get your gift card.</span></h2>
		<p>You’ll receive your App Store Gift Card with your purchase when you buy a qualifying product from one of these stores:**</p>
		<p><a href="http://store.apple.com/us-hed" class="more">Apple Online Store for Education</a></p>
		<p><a href="http://www.apple.com/retail" class="more" onclick="s_objectID='e8f23e02ea77ff2a265f51e0fc3655ae';"
00001F1B
  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 11 | AOS: retail" data-evar30="campaigns/back_to_school/full-width-content-1">Apple Retail Store</a></p>
		<p><a href="http://www.apple.com/promo/bts/participants.html" class="more">Apple Authorized Campus Store</a></p>
	</div>
	<img class="hero ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-giftcards-hero?wid=385&amp;hei=237&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1374860346142" alt="2013-bts-lp-giftcards-hero" width="385" height="237" data-scale-params-2="wid=770&amp;hei=474&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1374860346142" />
</div>				<div class="section qualify">
	<div class="info">
		<h2><img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-books-title?wid=400&amp;hei=33&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169510201" alt="" width="400" height="33" data-scale-params-2="wid=800&amp;hei=66&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169510201" /><span class="a11y">Who qualiﬁes?</span></h2>
		<p>To qualify for the App Store Gift Card and get <br>education pricing on a Mac, you must be a college student, a student accepted to a college, a parent buying for a college student, or a faculty or staff member from any grade level. </p>
		<p><a href="/us/browse/campaigns/education_pricing" class="more" onclick="s_objectID='ebf16fb48928dbe975dc7619330f10c8';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 12 | AOS: campaigns/education_pricing" data-evar30="campaigns/back_to_school/full-width-content-1">Learn more</a></p>
	</div>
	<img class="hero ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-books-hero?wid=554&amp;hei=349&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169491690" alt="" width="554" height="349" data-scale-params-2="wid=1108&amp;hei=698&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169491690" />
</div>				<div class="section stores">
	<div class="info">
		<h2><img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-appstore-title?wid=380&amp;hei=69&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169472542" alt="" width="380" height="69" data-scale-params-2="wid=760&amp;hei=138&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169472542" /><span class="a11y">So many ways to use your gift card.</span></h2>
		<p>You can use your App Store Gift Card to download apps, music, games, books, and more from the App Store, Mac App Store, iTunes Store, and iBookstore.</p>
		<img class="hero ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-appstore-hero?wid=461&amp;hei=162&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371513562767" alt="" width="461" height="162" data-scale-params-2="wid=922&amp;hei=324&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371513562767" />
	</div>
</div>			</div>
			
		<div class="tiles">
				<ul class="col3">
	<li class="finance superlink">
		<div class="media-block clearfix copy">
			<div class="media">
				<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-financing-hero?wid=74&amp;hei=83&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169453902" alt="" width="74" height="83" data-scale-params-2="wid=148&amp;hei=166&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169453902" />
			</div>
			<div class="content">
				<h3>Special financing available.</h3>
				<p>Get up to 18 months special financing on qualifying Mac, iPad, or iPhone purchases with the Financing Visa Card from Barclaycard. <a href="/us/browse/finance/instant_credit_page" class="more superlink" onclick="s_objectID='f2a49fd9bc7465da9cd5e08bb0113129';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 13 | AOS: finance/instant_credit_page" data-evar30="campaigns/back_to_school/full-width-content-1">Learn more</a></p>
			</div>
		</div>
	</li>
	<li class="app superlink">
		<div class="media-block clearfix copy">
			<div class="media">
				<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-edu-hero?wid=74&amp;hei=83&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1376087816020" alt="" width="74" height="83" data-scale-params-2="wid=148&amp;hei=166&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1376087816020" />
			</div>
			<div class="content">
				<h3>Save with education pricing.</h3>
				<p>Buy a Mac for college and you’ll save up to $200 with education pricing. <a href="/us/browse/campaigns/education_pricing" class="more superlink" onclick="s_objectID='03712296becae001fded144bc42d40a5';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 14 | AOS: campaigns/education_pricing" data-evar30="campaigns/back_to_school/full-width-content-1">Learn more</a></p>
			</div>
		</div>
	</li>

	<li class="printer superlink">
		<div class="media-block clearfix copy">
			<div class="media">
				<img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-printer-hero?wid=74&amp;hei=83&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1374020946081" alt="" width="74" height="83" data-scale-params-2="wid=148&amp;hei=166&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1374020946081" />
			</div>
			<div class="content">
				<h3>Save up to $100 on select printers</h3>
			</div>
		</div>
		<p>Save up to $100 on select HP and Epson printers. Great quality printers. Now at an even greater back-to-school price.</p>
		<a href="/us/mac/mac-accessories/printers" class="more superlink" onclick="s_objectID='7cb0173b26a2e845bee8cb3dc2fe68c2';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 15 | AOS: home/shop_mac/mac_accessories/printers" data-evar30="campaigns/back_to_school/full-width-content-1">Learn more</a>
	</li>

</ul>			</div>
			
			<div class="guide superlink">
	<div class="info">
		<h2><img class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-guide-title?wid=340&amp;hei=68&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169509061" alt="" width="340" height="68" data-scale-params-2="wid=680&amp;hei=136&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169509061" /><span class="a11y">School supplies, from major to minor.</span></h2>
		<p>Grab the gear you need for a great semester. And get free shipping.</p>
		<a href="/us/browse/campaigns/bts_buying_guide" class="more superlink" onclick="s_objectID='ae6926bd19ecf25f07ed1067ccaa66b0';"  data-evar1="AOS: campaigns/back_to_school | full-width-content-1 | Astro Link | 16 | AOS: campaigns/bts_buying_guide" data-evar30="campaigns/back_to_school/full-width-content-1">Shop now</a>
	</div>
	<img class="hero ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/2013-bts-lp-guide-hero?wid=521&amp;hei=205&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169506349" alt="" width="521" height="205" data-scale-params-2="wid=1042&amp;hei=410&amp;fmt=png-alpha&amp;qlt=95&amp;.v=1371169506349" />
</div>
		

			


			


		
	

			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

            

		
		
			

    
				
			


		
	

        </div>
        <div role="contentinfo" class="apple-footer clearfix" id="apple-footer">

    
    	
    		<footer>
	<div role="navigation" aria-label="Breadcrumbs" id="guide">
		
	    	<ol class="breadcrumbs">
	
		<li>
			<a href="http://www.apple.com/" class="apple">
				<span>Apple</span>
			</a>
		</li>
		
			<li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="itemscope">
				<a itemprop="url" href="/us" onclick="s_objectID='bb5c98c81b02e9d8f250c8525744
00004000
d74d';"  data-evar1="AOS: campaigns/back_to_school |  | Breadcrumb | 0 | Home" data-evar30="campaigns/back_to_school/Breadcrumb">
					<span itemprop="title">Apple Store</span>
				</a>
			</li>
		
	
	
	
	
	
	
		
	
		<li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="itemscope">
			
					
							<span itemprop="title" class="breadcrumbs-title">Back to School</span>
										
				
		</li>
	 
</ol>
	    
 	</div>

	<nav role="navigation" aria-label="More Apple Store Links" class="links columns-5">
	
		<div class="section-0">
			
			<h2 class="h4">Apple Store</h2>
			<ul>
			
				<li>
					<a href="/us/mac" onclick="s_objectID='e4120542c42c6d436bddf2e7dd5e2a73';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 0 | Shop Mac" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Shop Mac
					</a>
				</li>
			
				<li>
					<a href="/us/ipad" onclick="s_objectID='051bce94498c2a37bb139bbe51d186bf';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 1 | Shop iPad" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Shop iPad
					</a>
				</li>
			
				<li>
					<a href="/us/iphone" onclick="s_objectID='2011b48fcc5e04d9e0edcbcea35beafe';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 2 | Shop iPhone" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Shop iPhone
					</a>
				</li>
			
				<li>
					<a href="/us/ipod" onclick="s_objectID='67a8c4807d2a436258c33f76a0fdcb10';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 3 | Shop iPod" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Shop iPod
					</a>
				</li>
			
			</ul>
		</div>
	
		<div class="section-1">
			
			<h2 class="h4">More Stores</h2>
			<ul>
			
				<li>
					<a href="/us/browse/home/specialdeals" onclick="s_objectID='8b5908db804a063c3161d97fdc1b900c';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 0 | Refurbished &amp; Clearance" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Refurbished & Clearance
					</a>
				</li>
			
				<li>
					<a href="http://store.apple.com/us-hed" onclick="s_objectID='11867d178028b6a9b2ea0b30718d9574';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 1 | Education" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Education
					</a>
				</li>
			
				<li>
					<a href="http://store.apple.com/go/smb" onclick="s_objectID='d3c4a7e80c1cb75cd5ff488370839986';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 2 | Business" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Business
					</a>
				</li>
			
				<li>
					<a href="http://www.apple.com/r/store/government" onclick="s_objectID='5770c0522a4eb7e1ad7071cfb8c5ae30';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 3 | Government" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Government
					</a>
				</li>
			
				<li>
					<a href="http://itunes.apple.com/app/apple-store/id375380948?mt=8" onclick="s_objectID='894bdac6404b28e71431e062b21a430e';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 4 | Apple Store App" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Apple Store App
					</a>
				</li>
			
				<li>
					<a href="http://www.apple.com/itunes" onclick="s_objectID='faad1aee3a901228cb51cc91241a337f';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 5 | iTunes Store" data-evar30="campaigns/back_to_school/Footer_Navigation">
						iTunes Store
					</a>
				</li>
			
				<li>
					<a href="http://www.apple.com/iphone/from-the-app-store" onclick="s_objectID='52468f7300064a152eaefe1638ea31e8';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 6 | App Store" data-evar30="campaigns/back_to_school/Footer_Navigation">
						App Store
					</a>
				</li>
			
				<li>
					<a href="http://www.apple.com/apps/ibooks" onclick="s_objectID='8e319819bcc14feafc53e7738b4f60d6';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 7 | iBookstore" data-evar30="campaigns/back_to_school/Footer_Navigation">
						iBookstore
					</a>
				</li>
			
			</ul>
		</div>
	
		<div class="section-2">
			
			<h2 class="h4">Customer Help</h2>
			<ul>
			
				<li>
					<a href="https://secure.store.apple.com/us/order/list" onclick="s_objectID='29888d6de944e1afdb14205bba551977';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 0 | Order Status" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Order Status
					</a>
				</li>
			
				<li>
					<a href="/us/help/payments" onclick="s_objectID='e50450eb8fd78b1be2daedbcaae81e52';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 1 | Payment &amp; Pricing" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Payment & Pricing
					</a>
				</li>
			
				<li>
					<a href="/us/help/shipping_delivery" onclick="s_objectID='4c99cad528fed9dc6053c6890e58340f';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 2 | Shipping &amp; Pickup" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Shipping & Pickup
					</a>
				</li>
			
				<li>
					<a href="/us/help/returns_refund" onclick="s_objectID='66e4a347f8105fd6747cde09e250015e';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 3 | Returns &amp; Refunds" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Returns & Refunds
					</a>
				</li>
			
				<li>
					<a href="/us/help/contact" onclick="s_objectID='df52e2764c33f78cbba0e1e3cbfdb880';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 4 | Contact Us" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Contact Us
					</a>
				</li>
			
				<li>
					<a href="/us/help" onclick="s_objectID='086c7296d803e9178533ae9c7ecf9afc';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 5 | Help" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Help
					</a>
				</li>
			
			</ul>
		</div>
	
		<div class="section-3">
			
			<h2 class="h4">Store Services</h2>
			<ul>
			
				<li>
					<a href="/us/help/online_store_exclusives#customize" onclick="s_objectID='90022cf4bf8a290035d22e158aaca43d';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 0 | Customize Your Mac" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Customize Your Mac
					</a>
				</li>
			
				<li>
					<a href="/us/browse/home/ipod/editorial/engraving_giftwrap" onclick="s_objectID='9dcbe694d2e8889353f12100909b8c53';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 1 | Free Engraving" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Free Engraving
					</a>
				</li>
			
				<li>
					<a href="/us/browse/finance/instant_credit_page" onclick="s_objectID='d60da2ac326ba3265a5b56a8926ac44a';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 2 | Financing" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Financing
					</a>
				</li>
			
				<li>
					<a href="http://www.apple.com/recycling" onclick="s_objectID='fa6aa9db2a8b451256aa3ff48e8ff248';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 3 | Recycling" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Recycling
					</a>
				</li>
			
				<li>
					<a href="/us/browse/home/giftcards" onclick="s_objectID='0ebc17a532894f1a5300a9db27a209ea';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 4 | Gift Cards" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Gift Cards
					</a>
				</li>
			
				<li>
					<a href="/us/browse/home/personal_pickup" onclick="s_objectID='a863ee6e95946d5dbff7191c2bb6510c';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 5 | Personal Pickup" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Personal Pickup
					</a>
				</li>
			
			</ul>
		</div>
	
		<div class="section-4">
			
			<h2 class="h4">Apple Retail Store</h2>
			<ul>
			
				<li>
					<a href="http://www.apple.com/retail" onclick="s_objectID='7dc88ff6511144473726e7ac3b9e26ba';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 0 | Find a Store" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Find a Store
					</a>
				</li>
			
				<li>
					<a href="http://www.apple.com/retail/storelist" onclick="s_objectID='5c538ed747553662de4c90e9f072d8e0';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 1 | Complete Store List" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Complete Store List
					</a>
				</li>
			
				<li>
					<a href="http://www.apple.com/retail/shop" onclick="s_objectID='30d19c97028a2a1d2d9f2cd027995e94';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 2 | Shop Your Way" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Shop Your Way
					</a>
				</li>
			
				<li>
					<a href="http://www.apple.com/retail/learn" onclick="s_objectID='9a5d71826fac8aa24aa2852b7598e522';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 3 | Workshops and Learning" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Workshops and Learning
					</a>
				</li>
			
				<li>
					<a href="http://www.apple.com/retail/geniusbar" onclick="s_objectID='1a4c7b95fed7557f1b5f3c730143b2f5';"  data-evar1="AOS: campaigns/back_to_school |  | Footer Navigation | 4 | Genius Bar" data-evar30="campaigns/back_to_school/Footer_Navigation">
						Genius Bar
					</a>
				</li>
			
			</ul>
		</div>
	
	</nav>

	
	
	<div id="plf" class="plf">
		<h2 id="plf-head" class="a11y">Leave feedback</h2>
		<p class="plf-intro">
		    <button class="plf-open-btn" type="button">Have an opinion on this page? <span>Let's hear it.</span></button> 
		    <span class="plf-openedMsg">When you're done, just click Submit.</span><span class="plf-needhelp">Need help?</span> <a target="_blank" rel="nofollow" href="http://www.apple.com/contact">Contact Us</a>
		</p>
		<div aria-labelledby="plf-head" class="plf-drawer clearfix" aria-expanded="false" aria-live="polite">
			<form id="plf-form" aria-hidden="true" action="" class="plf-form" method="post">
			    <div class="plf-questions-container">
	                <span class="subhead">Please rate:</span>
	                <div class="plf-rating-questions"></div>
	                <div class="plf-freetext-questions col"></div>
				</div>
				<div class="formbuttons">
					<button class="button cancel" type="button">Cancel</button>
					<button class="button merchandising" type="submit">Submit</button>
				</div>
			</form>
			<p id="plf-msg" aria-hidden="true" class="plf-msg"></p>
			<p id="plf-count" class="a11y" aria-live="assertive"></p>
		</div>
	</div>
	
	
	<script>
	    var plf = new apple.PagelevelFeedbackViewController($('plf'),	    
	    {"lowCharsMessage":"Characters remaining before maximum limit is reached  {0}","errorMessage":"An error has occurred. Please try again later.","serviceURL":"/us/getx/feedback?nodePath=standard/campaigns/back_to_school","ratingQuestionTemplate":"{{AsRatingQuestion}}","nodePath":"standard/campaigns/back_to_school","noCharsMessage":"Characters limit has been exceeded by {0}, Please reduce the length of your message before continuing.","loadingMessage":"Loading","ratingsLabelTemplate":"{0} out of {1} stars","maxCharsAllyLabel":"Characters in this field are limited to {0}","confirmationMessage":"Thanks for sharing your thoughts with us.","partNumber":"","freeTextQuestionTemplate":"{{AsWebFreeTextQuestion}}"}   	    
	    );
	</script>
	<script type="text/mustache" id="{{AsRatingQuestion}}">
	
		<legend class="question" id="{{id}}-legend">{{{description}}}</legend><span class="star-wrapper">    {{#stars}}        <label id="{{id}}-{{value}}-label" for="{{id}}-{{value}}"><span class="a11y"><input id="{{id}}-{{value}}" aria-labelledby="{{id}}-legend" type="radio" value="{{value}}" name="{{id}}-group">{{label}}</span></label>    {{/stars}}</span>
	
</script>
	<script type="text/mustache" id="{{AsWebFreeTextQuestion}}">
	
		<label id="{{id}}-label" class="a11ylabel {{labelClass}}" for="{{id}}-textarea">{{description}}    <span class="a11y">{{maxCharsAllyLabel}}</span></label><textarea id="{{id}}-textarea" cols="30" rows="6"></textarea><span id="{{id}}-count" class="count {{charsRemainingClass}}">{{charsRemaining}}</span><p id="{{id}}-count-msg" class="a11y">{{lowCharsMessage}}</p>
	
</script>



	 <div id="fineprint">
		<div class="coda">
			<ul class="store">
	        	<li class="apple-store">
	        		<a href="/us" onclick="s_objectID='47c1be756a29051dbfac57475d4faad5';"  data-evar1="AOS: campaigns/back_to_school |  | Navigation Footer | Home" data-evar30="campaigns/back_to_school/Navigation_Footer">
	        			Apple Store  (U.S.)
	        		</a>
	        	</li>

	        	<li class="site-map">
	        		<a target="_blank" href="/us/browse/sitemap" onclick="s_objectID='e0296f3c049155ebe310c20b4d6f3463';"  data-evar1="AOS: campaigns/back_to_school |  | Navigation Footer | 3 | Sitemap" data-evar30="campaigns/back_to_school/Navigation_Footer">
	        			Site Map
	        		</a>
	        	</li>

	        	<li class="security-policy">
	        		<a target="_blank" href="/us/help/shopping_experience" onclick="s_objectID='31511092b79325cca926017536472cc9';"  data-evar1="AOS: campaigns/back_to_school |  | Navigation Footer | 4 | Security Policy" data-evar30="campaigns/back_to_school/Navigation_Footer">
	        			Security Policy
	        		</a>
	        	</li>

				<li class="select-country">
	        		<a href="/us/browse/open/country_selector" onclick="s_objectID='8c8eaf6ba2c6592326b4edace2a0252e';"  data-evar1="AOS: campaigns/back_to_school |  | Navigation Footer | 0 | Country Selector" data-evar30="campaigns/back_to_school/Navigation_Footer">
	        			Select a Country
	        			<img data-scale-params-2="wid=50&amp;hei=50&amp;fmt=png-alpha&amp;qlt=95&amp;op_sharpen=0&amp;resMode=bicub&amp;op_usm=0.5,0.5,0,0&amp;iccEmbed=0&amp;layer=comp&amp;.v=1361390899800" class="ir" src="http://store.storeimages.cdn-apple.com/3546/as-images.apple.com/is/image/AppleInc/country-icon-us?wid=25&amp;hei=25&amp;fmt=png-alpha&amp;qlt=95&amp;op_sharpen=0&amp;resMode=bicub&amp;op_usm=0.5,0.5,0,0&amp;iccEmbed=0&amp;layer=comp&amp;.v=1361390899800" alt="" width="25" height="25" data-scale-params-2="wid=50&amp;hei=50&amp;fmt=png-alpha&amp;qlt=95&amp;op_sharpen=0&amp;resMode=bicub&amp;op_usm=0.5,0.5,0,0&amp;iccEmbed=0&amp;layer=comp&amp;.v=1361390899800" />
	        		</a>
	        	</li>
	     	</ul>


	    <ul class="sosumi">
    <li>Copyright &copy; 2013 Apple Inc.  All rights reserved.</li>
    
    	<li><a target="_blank" href="http://www.apple.com/legal/terms/site.html">Terms of Use</a></li>
    
    
        <li><a target="_blank" href="http://www.apple.com/privacy">Privacy Policy</a></li>
    
	
        <li><a target="popup-w550-h600" href="/us/open/salespolicies">Sales and Refunds</a></li>
	
    
    
</ul>

	    
    <p class="order-by-phone">You can also order from The Apple Store by calling 1-800-MY-APPLE.</p>
    	
		<script>
			Event.onLoad(function () {
				apple.fcs.storeFcsData();
  			});
		</script>	
	

	    


		</div>
	</div>
</footer>
    		
    	
		
    

    

    
    

</div>

<script>dciddstr = '76e8e0d8a3d98000fb9864571e805ba140a4956c5276fdbc94751bb23f7977add171fe1316882c5d686f9bfd17e611e5a2b625cf7d26a4cbe1a772a7714bf01135a926058701aeb069514cc7817ce8974ef008370ed4fe1463a3e2fd6b3da57b76ddd69ffbe954b17d2d209ef73ce2334ce37736dcdc61956bfb7431207ab356cd5b46f350504b7374da064ba381d50c51709595ed99cc5414127f424ba3f3479206837b0de195e7333e5f9a35e2598d7273c6b94ffcd2dbeff2da458939d0f03018e33bd493982579af7263382aabd6f0af252879a6bb511dd0a6877b5933038db3f41d0f10a580ede8006b3ae69d1183bccb82a6ad6f88ceb0e3ce5c89f58c8d31a6bb8a613d2c9e3aeb4fae85ed862c801a164de4ac52bd87dd6abf7b5b6fa2cbea6d8c2d677f6352a8e69d9d8c565767a0150e03a7ba075a3f7a382967dea6dacd34a4c9a6801578fa49aadd1fc93cadf76daeecfd101207c5f7a7fa2c2435109d6b447c53edd00449d3e98c0ec4ea783a25821adcae24137918547b7ebced7ff334feb07cd85abd6a316427592c304d25713b80f09a8d44ba4d7ac1d934b94afdafbe2b8823df295a71184a42e01995140db3d67ae5ec65fe95b3236cb2514eefcefea8f570c7f3fd67635e3
000008E8
181cb3990bf06fcd12a79b3976a1f9200381ca966d102043df10fca5131c80ba5b566d99f573a49cc85e046390e929de250f21ec22e12e1076720eb343bf2af4bee12940ad64a1988e632840930de05e0003c43382e3ea37861948b2661e224142b56073ce5165b1a74328144dd5cc3b1ebd80b84649c245c9706d2c534ae58a113324c30b339efdf19a0a46f778c14443590b106e57a656c51b13009b44887cc4d18171eaa03dd068973cd427b2f60b88d8339b2092af0ffea58a9841f8496d1b9ea8d93d081878c0c742409f261c3d72822a83079d50c4bf9d2b9b0aa66';</script>


		
		<div class="footnotes">
			

		
		
			

    
				
			


		
	

			

		
		
			

    
				

		
		
			

    
				
     
	
	
		<p>*Buy a qualifying Mac and receive a $100 App Store Gift Card, or buy a qualifying iPad or iPhone and receive a $50 App Store Gift Card. The Mac or iPad must be purchased from Apple or a participating Apple Authorized Campus Store from July 2, 2013, through September 6, 2013. iPhone devices must be purchased from Apple; Apple Authorized Campus Store iPhone purchases are not eligible. iPhone eligibility may vary by model. Purchaser must be eligible for Apple Education Individual Pricing; education pricing is not available for iPad or iPhone. Quantity limits may apply. The App Store Gift Card may be used on the Mac App Store, the iTunes Store, the App Store, and the iBookstore. If the Mac, iPhone, or iPad is returned, your refund may be reduced by the full amount of the App Store Gift Card. <a href="http://www.apple.com/promo/pdf/BTS_2013_Terms_Conditions_US.pdf">Terms and conditions apply</a>. The Mac App Store, the iTunes Store, the App Store, and the iBookstore are available only to persons age 13 or older in the U.S. Terms apply. See <a href="http://www.apple.com/legal/itunes/us/terms.html">www.apple.com/legal/itunes/terms.html</a> for more information.</p>
<br>
<p>**iPhone is not available at Apple Authorized Campus Stores.</p>
	
	
	



			


		
	

			


		
	

		</div>
    </div>

	
<script>
	Event.onLoad (function() {
		
		if ( /(iPhone|iPod).*OS 5.*AppleWebKit.*Mobile.*Safari/.test(navigator.userAgent) )
		{
			window.appleStoreAppBannerNode = '/us/browse/campaigns/mobile_overlay';
			window.appleStoreAppUrl = 'http://itunes.apple.com/us/app/id375380948?v0=AOS-Overlay-US&amp;mt=8';
			apple.MobileBanner();
		}
		
	});
</script>

	
</body>


</html>


00000000

